.sidebar{
    background-image: linear-gradient(40deg, #0b4909d3,#048324e8);
    position: fixed;
    height: 100vh;
}
.sidebar li a{
    margin-bottom: 2em;
    color: white;
}

.sidebar svg{
    margin-right: 7px;
}
@media(max-width: 500px){
    .sidebar{
        width: 200px;
    }
}